<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Additional custom styling if needed */
        .navbar-nav {
            flex-direction: row;
        }
        .navbar-nav .nav-item {
            margin-right: 1rem;
        }
        .navbar-nav .nav-item:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ToDo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto"  sec:authorize="!isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/features}">Features</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto"  sec:authorize="isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Todos</a>
                </li>
            </ul>
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/userprofile}" style="text-decoration: none; color: inherit;">
                    <img src="/images/janedoe.jpeg" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
                    <span class="mr-3">Jane Doe</span>
                </a>
                <form action="/logout" method="post" style="display: inline;">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>

            <div class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn btn-primary mr-2">Login</a>
                <a th:href="@{/register}" class="btn btn-outline-primary">Register</a> <!-- Login and Register buttons for unauthenticated users -->
            </div>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
