<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

    <!--header got from a fragment (You can uncomment this and use it later) -->
    <div th:replace="~{fragments :: header}">
        <!--header got from a fragment    -->
    </div>


    <div class="container py-5">
    <form action="/register" method="post">
        <!-- CSRF token placeholder (You can uncomment this and use it later) -->
        <!-- <input type="hidden" name="_csrf" value=""/> -->

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="@janedoe">
            <!-- Error message placeholder (You can uncomment this and use it later) -->
            <!-- <div class="text-danger">Username Error</div> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <!-- Error message placeholder (You can uncomment this and use it later) -->
            <!-- <div class="text-danger">Email Error</div> -->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            <!-- Error message placeholder (You can uncomment this and use it later) -->
            <!-- <div class="text-danger">Password Error</div> -->
        </div>
        <div class="form-group">
            <label for="Password1">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="Password1" placeholder="Password">
            <!-- Error message placeholder (You can uncomment this and use it later) -->
            <!-- <div class="text-danger">Confirm Password Error</div> -->
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
